@{
    ViewBag.Title = "FAQ";
}
<div class="container">
    <br />
    <p><b>1.Who can apply for a home loan at Homeberg Home Loans?</b></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;If you are an Indian citizen between the ages of 18 to 75, and
        are either salaried or self-employed, you can apply for a Home Loan from Homeberg Home
        Loans.
    </p>
    <br />
    <br />
    <p><b>2.How do I make Home Loan application?</b></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;You can make an online home loan application by
        @Html.ActionLink("clicking apply now", "UserHome", "User"). Our documentation is simple
        and we offer instant sanction for home loans. You can also call us on +91 91234567890 for
        assistance.
    </p>
    <br />
    <br />
    <p><b>3.What does EMI mean?</b></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;An EMI is the 'Equated Monthly Installment', which is the
        monthly payment that you make towards repaying your Home Loan on a specified date until
        your loan is repaid in full.
    </p>
    <br />
    <br />
    <p><b>4.Do I get tax benefits in my Home loan?</b></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Yes. You are eligible for tax benefits on the principal and
        interest components of your Home Loan under the Income Tax Act, 1961. As the benefits can
        vary each year, please do check with our Loan Counsellor about the tax benefits that you
        can avail on your loan.
    </p>
    <br />
    <br />
    <p><b>5.What documents do I need to chech if am buying a resale property?</b></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Clear and marketable Title, Sale Deed, Encumbrance
        Certificate, latest tax receipts, Occupancy Certificate, Building Plan Approvals and
        Possession Certificate.
    </p>
</div>