@model HomeLoan1.Models.UDetails

@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModifyPassword</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
   <label>Enter your New Password: </label>
    <input type="password" name="pass" class="form-control"/>&nbsp;&nbsp;&nbsp;

    <button type="submit" class="btn "> Change Password</button>
</div>
}
