
@{
    ViewBag.Title = "SetNewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >SetNewPassword</h2>

<hr />
@using (Html.BeginForm())
{
 

    <label id="disp"></label>
    <br />
    <label>Enter your New Password: </label><input id="p" type="password" name="pass" class="form-control" onkeyup="check()" required/><br />
    <label>Confirm your New Password: </label><input id="c" type="password" class="form-control" onkeyup="check();" required/><br />
    <button type="submit" id="button" >Change Password</button>

}